*{

	font-family: "Roboto", sans-serif;
}

h1,h2 {

	font-family: "Montserrat", sans-serif;
}

img {

height: 250px;
width: 250px;

}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#gallery {
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

ul {
	list-style: none;
	padding: 0;
}

h2{
	color: #007bff;
}

/*para sa class, maglagay ng .*/
.tools {
	height: 200px;
	border: 5px solid #f2f2f2;
	padding: 25px;
	margin: 20px;
	width: 75%;
}

/*padding space inside the element, margin ay space outside the element*/
/*75 percent ng section*/

html{
	scroll-behavior: smooth;
}